@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Bison-Bold";
  src: url("../fonts/bison-bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}

body {
  background: url(../img/bg-body.jpg) center top repeat;
  font-family: "Bison-Bold", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #414141;
}

.container {
  max-width: 1100px;
  width: auto;
  max-height: 720px;
  height: auto;
  margin: 0 auto;
  padding: 3em 0;
}

/*=========== SEÇÃO CABEÇALHO ===========*/
.cabecalho {
  max-width: 1053px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.imagem-cabecalho {
  position: absolute;
  max-width: 1053px;
  width: 100%;
  top: 20px;
  z-index: -9;
}

.menu {
  margin-left: 80px;
  list-style: none;
  font-size: 3rem;
}

.item-menu {
  display: flex;
}

.item-menu a {
  text-decoration: none;
  color: #fff;
}

.detalhe-item-menu {
  width: 0.1em;
  height: 0;
  margin: 0.3em 0.1em 0.2em 0;
  background-color: #ffffff00;
  transition: 1s all;
}

.item-menu a:hover {
  color: #ffffffcc;
}

.item-menu:hover .detalhe-item-menu {
  height: auto;
  background-color: #ffffff;
}

/*=========== SEÇÃO DUBLAGENS ===========*/
.dublagens {
  max-height: 5000px;
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-dublagens {
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-dublagem {
  width: 140px;
  height: 208px;
  margin-bottom: 10px;
}

.card-dublagem img {
  width: 140px;
  position: absolute;
  z-index: -9999;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.info-card-dublagem {
  width: 100%;
  height: 100%;
  padding: 30px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #000a;
  font-family: "PT Sans", sans-serif;
  text-transform: capitalize;
  font-size: 1em;
  transition: all ease 0.3s;
  opacity: 0;
}

.info-card-dublagem h4 {
  font-size: 1.6em;
}

.card-dublagem:hover .info-card-dublagem {
  opacity: 1;
}

.card-dublagem:hover img {
  transform: scale(1);
}

.button-dublagens {
  font-size: 1em;
  font-family: "Bison-Bold", sans-serif;
  color: #fff7;

  padding: 5px 20px;
  background-color: #000;
  border: 1px solid #fff7;
  border-radius: 5px;
  cursor: pointer;
}

.button-dublagens:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*=========== SEÇÃO AtUAÇÕES ===========*/
.atuacoes {
  max-width: 1109px;
  width: auto;
  height: 100vh;
  padding: 3em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#videos-ator {
  width: 100%;
  max-height: 698px;
}
.video-atuacoes {
  width: 100%;
  height: 100%;
}

.buttons-atuacoes {
  display: flex;
}

.buttons-atuacoes i {
  font-size: 3em;
  font-weight: 1000;
  padding: 0 0.3em;
  cursor: pointer;
}

/*=========== SEÇÃO PUBLICIDADE ===========*/
.buttons-publicidade{
  display: flex;
  justify-content: space-between;
}

.buttons-publicidade button{
  background-color: #00000000;
  border: 0.5px solid #fff8;
  border-radius: 3px;
  padding: 2px 5px;
  color: #fff7;
  font-family: 'Bison-Bold', sans-serif;
}

.buttons-publicidade .ativo{
  border: 0.5px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

/*=========== SEÇÃO CONTATO ===========*/
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10em 0 20em 0;
}

.titulo-contato {
  margin-right: 60px;
}

.titulo-contato p {
  font-size: 10em;
  font-weight: 800;
  margin: -55px 0;
}

.info-contato {
  display: flex;
  align-items: center;
  color: #d9d9d9a2;
}

.info-contato span {
  font-size: 5em;
  margin-right: 20px;
}

.telefone-contato {
  font-size: 8em;
  margin: 0 0 -10px 0;
}

.email-contato {
  font-size: 3em;
  margin: 0;
}

/*=========== SEÇÃO RODAPE ===========*/
.rodape {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.rodape p {
  text-transform: capitalize;
  font-family: "PT Sans", sans-serif;
}

@media(min-width: 1300px){
  .container{
    max-width: 1400px;
    max-height: 100vh;
    padding: 5em 0;
  }

  /* CABEÇALHO */
  .cabecalho {
    max-width: 1450px;
  }
  
  .imagem-cabecalho {
    max-width: 1450px;
    width: 100%;
    top: 50px;
  }

  .menu {
    margin-left: 140px;
    font-size: 4rem;
  }

  /* DUBLAGENS */
  .dublagens {
    max-height: 5000px;
  }

  .list-dublagens {
    max-width: 1150px;
  }

  .card-dublagem {
    width: 230px;
    height: 342px;
    margin-bottom: 10px;
  }
  
  .card-dublagem img {
    width: 230px;
  }

  .info-card-dublagem {
    padding: 50px 20px;
    font-size: 1.4em;
  }

  /* ATUAÇÕES */
  .atuacoes {
    max-width: 1400px;
    max-height: 100%;
  }

  #videos-ator {
    width: 100%;
    max-height: 100%;
  }

  .contato {
    padding: 15em 0 20em 0;
  }
}

@media (max-width: 589px) {
  body{
    overflow-x: hidden;
  }

  .container {
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    padding: 1em 0.5em;
  }

  /* CABEÇALHO */
  .cabecalho {
    height: 67vh;
  }

  .menu {
    margin-left: 1em;
    font-size: 2em;
  }

  /* DUBLAGENS */
  .info-card-dublagem {
    font-size: 1.2em;
  }

  .info-card-dublagem h4 {
    font-size: 1.2em;
  }  

  /* ATUAÇÕES */
  .atuacoes {
    height: 60vh;
    padding: 5em 0;
  }

  /* CONTATO*/
  .contato {
    flex-direction: column;
    align-items: stretch;
    padding: 12em 1em;
  }

  .info-contato{
    padding: 5em 0;
  }

  .info-contato span {
    font-size: 3em;
    margin-right: 10px;
  }

  .telefone-contato {
    font-size: 5em;
    margin: 0;
  }

  .email-contato {
    font-size: 2em;
    margin: 0;
  }
  .rodape {
    flex-direction: column;
  }
}
