@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@font-face{
  font-family: 'Bison-Bold';
  src: url('../fonts/bison-bold.ttf'); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}

html {
  background-color: #000;
  scroll-behavior: smooth;
  font-family: 'Bison-Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

::-webkit-scrollbar {
  width: .7rem;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #414141;
}

.container{
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  padding: 5em 0;
}

/*=========== SEÇÃO CABEÇALHO ===========*/
.cabecalho{
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.imagem-cabecalho{
  position: absolute;
  width: 1450px;
  top: 50px;
  z-index: -9;
}

.menu{
  margin-left: 135px;
  list-style: none;
  font-size: 4rem;
}

.item-menu{
  display: flex;
}

.item-menu a{
  text-decoration: none;
  color: #fff;
}

.detalhe-item-menu{
  width: 0.1em;
  height: 0;
  margin: 0.3em 0.1em 0.2em 0;
  background-color: #ffffff00;
  transition: 1s all;
}

.item-menu a:hover{
  color: #ffffffcc;
}

.item-menu:hover .detalhe-item-menu{
  height: auto;
  background-color: #ffffff;
}

/*=========== SEÇÃO DUBLAGENS ===========*/
.dublagens{
  padding: 5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-dublagens{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-dublagem{
  width: 230px;
  height: 342px;
  margin-bottom: 10px;
}

.card-dublagem img{
  width: 230px;
  position: absolute;
  z-index: -9999;
  transform: scale(0.9);
  transition: all ease .3s;
}

.info-card-dublagem{
  width: 100%;
  height: 100%;
  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #000a;
  font-family: 'PT Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1.4em;
  transition: all ease .3s;
  opacity: 0;
}

.info-card-dublagem h4{
  font-size: 1.6em;
}

.card-dublagem:hover .info-card-dublagem{
  opacity: 1;
}

.card-dublagem:hover img{
  transform: scale(1);
}

.button-dublagens{
  font-size: 1em;
  font-family: 'Bison-Bold', sans-serif;
  color: #fff7;

  padding: 5px 20px;
  background-color: #000;
  border: 1px solid #fff7;
  border-radius: 5px;
  cursor: pointer;
}

.button-dublagens:hover{
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*=========== SEÇÃO AtUAÇÕES ===========*/
.atuacoes{
  max-width: 1400px;
  width: auto;
  padding: 3em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#videos-ator{
  width: 100%;
  height: 100%;
}
.video-atuacoes{
  width: 100%;
  height: 100%;
}

.buttons-atuacoes{
  display: flex;
}

.buttons-atuacoes i{
  font-size: 3em;
  font-weight: 1000;
  padding: 0 0.3em;
}

/*=========== SEÇÃO CONTATO ===========*/
.contato{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20em 0;
}

.titulo-contato{
  margin-right: 60px;
}

.titulo-contato p{
  font-size: 10em;
  font-weight: 800;
  margin: -55px 0;
}

.info-contato{
  display: flex;
  align-items: center;
  color: #d9d9d9a2;
}

.info-contato span{
  font-size: 5em;
  margin-right: 20px;
}

.telefone-contato{
  font-size: 8em;
  margin: 0 0 -10px 0;
}

.email-contato{
  font-size: 3em;
  margin: 0;
}

/*=========== SEÇÃO RODAPE ===========*/
.rodape{
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}
.rodape p{
  text-transform: capitalize;
  font-family: 'PT Sans', sans-serif;
}